.ant-table-selection-column {
    display: none !important;
}

.ant-table-wrapper tbody * {
    cursor: pointer !important;
}

.ant-table-cell-row-hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

.ant-table-content table {
    background: white;
}