.tab {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: max-content 3fr max-content;
  grid-gap: 5px;
  overflow: auto;

  > div {
    border: 2px solid black;
  }

  .worker {
    grid-column: span 2;

    padding: 5px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 3fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
  }

  .detail {
    form {
      height: 100%;
      padding: 5px;
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr;
      align-items: center;
    }
  }

  .sto {
    form {
      height: 100%;
      padding: 5px;
      display: grid;
      grid-template: 1fr 1fr / 1fr;
      align-items: center;
    }
  }

  .cell {
    form {
      height: 100%;
      padding: 5px;
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      align-items: center;
      text-align: center;
    }
  }

  .table {
    grid-column: span 3;
    grid-row: span 2;

    padding: 5px;
    overflow: auto;
  }

  .cart {
    grid-column: span 2;
    min-height: max-content;

    padding: 5px;
    display: grid;
    grid-template: 1fr max-content / 1fr;
    grid-gap: 5px;

    overflow: auto;
  }

  .action {
    padding: 5px;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    align-items: center;
    text-align: center;
  }

  .status {
    padding: 5px;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    align-items: center;
    text-align: center;
  }

}