.selectWorkerModal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  h2 span {
    border: 1px solid black;
    padding: 5px;
  }

  select {
    border: 1px solid black;
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    overflow: auto;
  }
}